<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- File Appender -->
        <File name="FILE" fileName="logging.log" append="false">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>